.header-main {
	width: 100% !important;
    height: 15% !important;
	top: 0 !important;
	right: 0 !important;
}

.header-main ul {
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 0;
}

.header-main ul li {
	margin: 36px 25px;
}

.header-main ul li:after {
	display: none;
}

.pt-home .banner {
	width: 100%;
}

.pt-home .lang {
	right: 20px !important;	
}

.pt-home .social {
	left: 20px !important;
	top: 20% !important;
}

.page {
    width: 100%;
    height: 85.1%;
}

.pt-about, 
.pt-resume, 
.pt-portfolio, 
.pt-blog,
.pt-contact {
	-webkit-transform: translateY(200%) !important;
	-ms-transform: translateY(200%) !important;
	transform: translateY(200%) !important;
}

#about:target .pt-about,
#resume:target .pt-resume,
#portfolio:target .pt-portfolio,
#blog:target .pt-blog,
#contact:target .pt-contact {
	-webkit-transform: translateY(17.3%) !important;
	-ms-transform: translateY(17.3%) !important;
	transform: translateY(17.6%) !important;
}

.blog-page .blog-container,
.blog-list .blog-list-container {
    right: 0 !important;
}

.blog-page .blog-nav {
	top: 20%;
	right: 50% !important;
}

.header-mobile .header-toggle {
	float: left;
}

.blog-list .blog-head h2,
.blog-list .blog-head .blog-breadcrumb {
	width: 100% !important;
    left: 0 !important;
    right: 0 !important;
}

@media screen and (max-width: 767px) {
	.page {
    	height: 100% !important;
	}
	.header-main {
		height: 100% !important;
		width: 90px !important;
		right: -135px !important;
	}
	.header-main ul {
 		display: block !important;
 	}
	.header-main ul li {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		margin: 30px 0 !important;
	}
	.header-main.on {
        right: 0px !important;
    }
	#about:target .pt-about,
	#resume:target .pt-resume,
	#portfolio:target .pt-portfolio,
	#blog:target .pt-blog,
	#contact:target .pt-contact {
		-webkit-transform: translateY(0%) !important;
		-ms-transform: translateY(0%) !important;
		transform: translateY(0%) !important;
	}
	.blog-page .blog-container {
		right: 0 !important;
	}
	.pt-home .social {
		top: 70px !important;
	}
	.pt-home .lang {
		right: 10px !important;	
	}
}

@media screen and (max-width: 575px) {
	.pt-home .social {
		left: 10px !important;
		top: auto !important;
		bottom: 10px;
	}
}

@media screen and (min-width: 768px) {
	.header-main {
		min-height: 100px;
		overflow: hidden;
	}
	.header-main .simplebar-content > * {
		display: -webkit-box;
		display: flex;
		height: 100%;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
	}
	.header-main .simplebar-content > .music-bg {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.header-main .simplebar-content > ul {
		margin-left: 75px;
	}
	.music-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: auto;
		width: auto;
		padding: 23px;
		border-right-width: 5px;
		border-right-style: solid;
		border-top: none;
	}
	.header-main .logo {
		float: right !important;
		padding: 20px 20px !important;
		border-left-width: 5px;
		border-left-style: solid;
		border-bottom: none !important;
	}
	.pt-home .banner {
		top: 55%;
	}
	.blog-list .blog-head {
		padding: 180px 0 100px !important;
	}
}

@media screen and (min-width: 768px) and (max-height: 666px) {
	.pt-home .social {
		top: 130px !important;
	}
}
